{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Josiah的博客园</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
        <link rel="shortcut icon" type="text/css" href="/static/blogapp/img/logo.png" />
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'blogapp/css/ionicons.min.css' %}">
		<link rel="stylesheet" href="{% static 'blogapp/css/pace.css' %}">
	    <link rel="stylesheet" href="{% static 'blogapp/css/custom.css' %}">
        <link href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'blogapp/css/audio.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'blogapp/css/style.css' %}">
	    <!-- js -->
	    <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
	    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script src="{% static 'blogapp/js/pace.min.js' %}"></script>
	    <script src="{% static 'blogapp/js/modernizr.custom.js' %}"></script>
	</head>
    <style type="text/css">
        .contact{
            width: 300px;
            height: 50px;
            margin-left: 50px;
            box-shadow:0 0 10px #000 inset;
            border-radius: 5px;
            padding: 10px;
            float: left;
        }
        .qq{
            width: 300px;
            height: 400px;
            float: left;
            margin-left: 43px;
            box-shadow:0 0 10px #000 inset;
        }
    </style>
	<body>
        <div class="row">
		<div class="container" class="col-md-4">	
			<header id="site-header">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-8">
						<div class="logo">
                            <a href="{% url 'blogapp:index' %}"><img src="{% static 'blogapp/img/logo.png' %}" class="img-circle img-responsive"/></a>
                            <h1 class="text-nowrap"><a href="{% url 'blogapp:index' %}">Josiah的博客园</a></h1>
                        </div>
					</div><!-- col-md-4 -->
					<div class="col-md-8 col-sm-7 col-xs-4">
						<nav class="main-nav" role="navigation">
							<div class="navbar-header">
  								<button type="button" id="trigger-overlay" class="navbar-toggle">
    								<span class="ion-navicon"></span>
  								</button>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  								<ul class="nav navbar-nav navbar-right">
    								<li class="cl-effect-11"><a href="{% url 'blogapp:index' %}" data-hover="首页">首页</a></li>
    								<li class="cl-effect-11"><a href="{% url 'blogapp:full-width' %}" data-hover="博客">博客</a></li>
    								<li class="cl-effect-11"><a href="{% url 'blogapp:about' %}" data-hover="关于">关于</a></li>
    								<li class="cl-effect-11"><a href="{% url 'blogapp:contact' %}" data-hover="联系">联系</a></li>
  								</ul>
							</div><!-- /.navbar-collapse -->
						</nav>
						
					</div><!-- col-md-8 -->
				</div>
			</header>
		</div>
   <div class="contact">
       这一页懒得弄了，先随便放这意思一下吧~~
   </div>
   <div class="qq">
       <img src="{% static 'blogapp/img/qq.jpg' %}"/>
   </div>
   <div class="qq">
       <img src="{% static 'blogapp/img/weixin.jpg' %}"/>
   </div>
</div>
        <script type="text/javascript" src="{% static 'blogapp/js/index.js' %}"></script>
		<script src="{% static 'blogapp/js/script.js' %}"></script>
	</body>
</html>
