{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Josiah的博客园</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
        <link rel="shortcut icon" type="text/css" href="/static/blogapp/img/logo.png" />
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'blogapp/css/ionicons.min.css' %}">
		<link rel="stylesheet" href="{% static 'blogapp/css/pace.css' %}">
	    <link rel="stylesheet" href="{% static 'blogapp/css/custom.css' %}">

	    <!-- js -->
	    <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
	    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script src="{% static 'blogapp/js/pace.min.js' %"></script>
	    <script src="{% static 'blogapp/js/modernizr.custom.js' %}"></script>
	</head>
<style type="text/css">
#site-header,.post{
    background-color: #f0f0f0;
 }
.logo img{
            width: 60px;
            height: 60px;
            float: left;
            margin-top: -10px; 
            margin-right:5px; 
        }
.cl-effect-11 a{
    text-shadow: 5px 5px 5px #808069;
}
.post{
    border: solid 1px #fff;
    box-shadow: 5px 5px 5px #808069;
    margin-bottom: 20px;
}
</style>
	<body>
		<div class="container">	
			<header id="site-header">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-8">
						<div class="logo">
                            <a href="{% url 'blogapp:index' %}"><img src="{% static 'blogapp/img/logo.png' %}" class="img-circle img-responsive"/></a>
                            <h1 class="text-nowrap"><a href="{% url 'blogapp:index' %}">Josiah的博客园</a></h1>
                        </div>
					</div><!-- col-md-4 -->
					<div class="col-md-8 col-sm-7 col-xs-4">
						<nav class="main-nav" role="navigation">
							<div class="navbar-header">
  								<button type="button" id="trigger-overlay" class="navbar-toggle">
    								<span class="ion-navicon"></span>
  								</button>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  								<ul class="nav navbar-nav navbar-right">
    								<li class="cl-effect-11"><a href="{% url 'blogapp:index' %}" data-hover="首页">首页</a></li>
    								<li class="cl-effect-11"><a href="{% url 'blogapp:full-width' %}" data-hover="博客">博客</a></li>
    								<li class="cl-effect-11"><a href="{% url 'blogapp:about' %}" data-hover="关于">关于</a></li>
    								<li class="cl-effect-11"><a href="{% url 'blogapp:contact' %}" data-hover="联系">联系</a></li>
  								</ul>
							</div><!-- /.navbar-collapse -->
						</nav>
						<div id="header-search-box">
							<a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
							<div id="search-form" class="search-form">
								<form role="search" method="get" id="searchform" action="#">
									<input type="search" placeholder="Search" required>
									<button type="submit"><span class="ion-ios-search-strong"></span></button>
								</form>				
							</div>
						</div>
					</div><!-- col-md-8 -->
				</div>
			</header>
		</div>

		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-12">
						{% for post in post_list %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="{% url 'blogapp:category' post.category.pk %}">{{ post.category.name }}</a></span>
                    <span class="post-date"><a href="{% url 'blogapp:archives' post.created_time.year post.created_time.month %}"><time class="entry-date"
                                                              datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                    <span class="post-author"><a href="#">{{ post.author }}</a></span>
                    <span class="comments-link"><a href="#">{{ post.comment_set.count }} 评论</a></span>
                    <!--<span class="views-count"><a href="{{ post.get_absolute_url }}">{{ post.views }} 阅读</a></span> -->
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ post.excerpt }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
    {% empty %}
       	<div class="no-post">暂时没有新文章</div>
    {% endfor %}

    <!--是否已分页。只有当分页后页面超过两页时才算已分页-->
        {% if is_paginated %}
        <div class="pagination-simple">
            <!-- 如果当前页还有上一页，显示一个上一页的按钮 -->
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}
            <span class="current">第 {{ page_obj.number }} 页 / 共 {{ paginator.num_pages }} 页</span>
            <!-- 如果当前页还有下一页，显示一个下一页的按钮 -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}
        </div>
        {% endif %}


        {% if is_paginated %}
        <div class="pagination">
            {% if first %}
                <a href="?page=1">1</a>
            {% endif %}
            {% if left %}
                {% if left_has_more %}
                    <span>...</span>
                {% endif %}
                {% for i in left %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endfor %}
            {% endif %}
            <a href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a>
            {% if right %}
                {% for i in right %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endfor %}
                {% if right_has_more %}
                    <span>...</span>
                {% endif %}
            {% endif %}
            {% if last %}
                <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
            {% endif %}
        </div>
        {% endif %}
					</main>
				</div>
			</div>
		</div>
		

		

		<script src="{% static 'blogapp/js/script.js' %}"></script>

	</body>
</html>
