{% extends 'base.html' %}
{% load staticfiles %}

{% block section %}

<div id="posts" class="posts-expand">
  <header class="post-header">
  <h2 class="post-title" itemprop="name headline">Tagcloud</h2>
</header>
      <div class="tag-cloud">
        <div class="tag-cloud-title">
            目前共计 {{ tags_count }} 个标签
        </div>
        <div class="tag-cloud-tags">
          {% for tag in tags_list %}
          <a href="{% url 'blog:tag' tag.pk %}" style="color: #000;font-size: 18px;font-family: KaiTi"><strong>{{ tag.name }}</strong></a>
          {% empty %}
          <div>暂无标签！</div>
          {% endfor %}
        </div>
      </div>
    
  </div>
  {% endblock section %}

  {% block aside %}

<div class="sidebar-inner">
      <section class="site-overview sidebar-panel sidebar-panel-active">
        <div class="site-author motion-element" itemprop="author" itemscope itemtype="http://www.linyachao.com">
          <img class="site-author-image" itemprop="image"
               src="{% static 'blog/img/logo.png' %}"
               alt="Josiah" />
          <p class="site-author-name" itemprop="name">Josiah Lin</p>
          <p class="site-description motion-element" itemprop="description">Keep thinking</p>
        </div>
        <nav class="site-state motion-element">     
            <div class="site-state-item site-state-posts">
              <a href="{% url 'blog:archives' %}">
                <span class="site-state-item-count">{{ allpost_count }}</span>
                <span class="site-state-item-name">博客</span>
              </a>
            </div> 
            <div class="site-state-item site-state-categories">
              <a href="{% url 'blog:categories' %}">
                <span class="site-state-item-count">{{ category_count }}</span>
                <span class="site-state-item-name">分类</span>
              </a>
            </div>     
            <div class="site-state-item site-state-tags">
              <a href="/tags">
                <span class="site-state-item-count">{{ tags_count }}</span>
                <span class="site-state-item-name">标签</span>
              </a>
            </div>
        </nav>
 
          <div class="feed-link motion-element">
            <a href="{% url 'rss' %}" rel="alternate">
              <i class="fa fa-rss"></i>
              RSS
            </a>
          </div>
        <div class="links-of-author motion-element">
              <span class="links-of-author-item">
                <a href="https://github.com/Josiah-Lin" target="_blank" title="GitHub">                
                    <i class="fa fa-fw fa-github"></i>             
                  GitHub
                </a>
              </span>            
        </div>
          <div class="links-of-blogroll motion-element links-of-blogroll-inline">
            <div class="links-of-blogroll-title">
              <i class="fa  fa-fw fa-globe"></i>
              友情链接
            </div>
            <ul class="links-of-blogroll-list">
                <li class="links-of-blogroll-item">
                  <a href="http://zmrenwu.com/" title="追梦人物" target="_blank">追梦人物的博客</a>
                </li>
            </ul>
          </div>

      </section>
    </div>

{% endblock aside %}


{% block footer %}
    <footer id="footer" class="footer" style="position: relative;margin-top: 110px;">
      <div class="footer-inner">
        <div class="copyright" >
  &copy; 
  <span itemprop="copyrightYear">2017</span>
  <span class="with-love">
    <i class="fa fa-heart"></i>
  </span>
  <span class="author" itemprop="copyrightHolder">Josiah Lin</span>
</div>
<div class="powered-by">
  由 <a class="theme-link" href="https://www.djangoproject.com/" target="_blank" rel="external nofollow">Django</a> 搭建
</div>
<div class="theme-info">
  主题 -
  <a class="theme-link" href="https://github.com/iissnan/hexo-theme-next" rel="external nofollow">
    NexT.Mist
  </a>
  <a href="http://www.miitbeian.gov.cn/" target="_blank" style="margin-left: 20px;">鲁ICP备17039580号</a>
</div>
    </footer>
{% endblock footer %}

{% block script %}

 <script type="text/javascript" src="{% static 'blog/js/bootstrap.js' %}"></script>
    <script type="text/javascript">
      var disqus_shortname = 'Josiah';
      var disqus_identifier = 'index.html';
      var disqus_title = "";
      function run_disqus_script(disqus_script) {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/' + disqus_script;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      }
      run_disqus_script('count.js');
    </script>

{% endblock script %}
